* {
	margin: 0;
	padding: 0;
	font-family: Tohoma, Arial;
	box-sizing: border-box;
}

.section0 {
	position: relative;
	width: 100%;
	height: 637px;
	background: url("../image/section1.jpg");
}

.header {
	background: rgba(58, 58, 69, .3);
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	
}

.logo_text {
	padding-top: 30px;
	padding-bottom: 20px;
	display: inline-block;	
	width: 30%;
	.search {
		border: none;
		border-left: 2px solid #294456;
		padding-left: 10px;
		font-style: italic;
		color: #fff;
		background: transparent;
	}
}

.logo {
	display: inline-block;
	margin-left: 30px;
	a {
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	font-weight: bold;

	}
	&::after {
		content:".";
		color: #4c76ff;
		font-weight: bold;
		font-size: 20px;
		margin-right: 30px;
	}
}

.menu{
	width: 59%;
	display: inline-block;
	text-align: right;
	padding-right: 70px;
	li {
		display: inline-block;
		margin-left: 30px;
		padding-top: 20px;
		transition: .2s;
		a {
	text-decoration: none;
	color: #fff;
	padding-top: 20px;
	font-size: 12px;

	
}
	&:hover {
		border-top: 2px solid #4c76ff;
		}
	}
}

.central_text {
	position: absolute;
	text-align: center;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	.title {
		font-size: 60px;
		font-weight: bold;
		color: #fff;
		&::after {
			content:"";
			width:10px;
			height: 10px;
			border-radius: 50%;
			background: #4c76ff;
			display: inline-block;
		}
	}
}
.title_about {
	font-size: 48px;
	margin-top: 20px;
	color: #fff;
	font-family: 'Lato';
	font-weight: 100;
	span {
		font-family: 'Lato';
		font-weight: 100;
		color: #4c76ff;
	}
}
.title_about_bottom {
	@extend .title_about;
	font-size: 18px;
	line-height: 18px;
	margin-top: 30px;
	position: relative;
	display: inline-block;
	&::after {
		content: '';
		display: inline-block;
		width: 30px;
		height: 2px;
		background: #4c76ff;
		right: -57px;
		position: absolute;
		top: 50%;

	}
	&::before {
		content: '';
		display: inline-block;
		width: 30px;
		height: 2px;
		background: #4c76ff;
		margin-right: 30px;
		position: absolute;
		top: 50%;
		left: -57px;
	}
}
                            /*section1*/
.section1 {
	background: #efefef;
	padding-top: 80px;
	padding-bottom: 130px;
}
.features {
	text-align: center;
	color: #4c76ff;
	text-transform: uppercase;

}
.heart_container {
	text-align: center;
	margin-top: 25px;
	margin-bottom: 75px;
}
.heart {
	text-align: center;
	position: relative;
	display: inline-block;
	&::before {
		content: '';
		display: inline-block;
		width: 90px;
		height: 1px;
		position: absolute;
		background: #bfbfbf;
		top: 37%;
		left: -115px;
		transform: translateY(-50%);
	}
	&::after {
		   content: '';
		   display: inline-block;
		   width: 90px;
		   height: 1px;
		   position: absolute;
		   background: #bfbfbf;
		   top: 37%;
		   right: -115px;
		   transform: translateY(-50%);
	   }
}
.features_content {
	max-width: 980px;
	width: 100%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	.text_column {
		max-width: 296px;
		width: 100%;
		text-align: right;


	}
	.pic_title {
		text-align: left;
	}
	.pic {
		width: 35px;
		height: 35px;
		border-radius: 50%;
		border: 1px solid #819dfa;
		position: relative;
		display: inline-block;
		vertical-align: middle;
		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	.title {
		display: inline-block;
		vertical-align: middle;
		padding-left: 9px;
		font-size: 16px;
		font-weight: bold;
	}
	.text_content {
		display: inline-block;
		max-width: 245px;
		width: 100%;
		text-align: left;
	}
	p {
		font-size: 12px;
		line-height: 24px;
	}
}
                         //*section2*/

 .section2 {
	 padding-top: 90px;
	 .info_p {
		 max-width: 800px;
		 width: 100%;
		 margin: auto;
		 text-align: center;
		 font-size: 15px;
		 line-height: 30px;
		 font-family: 'Lato';
		 font-weight: 100;
		 margin-bottom: 70px;
		 color: #062033;

	 }
	 .info_column {
		 height: 610px;
		 width: 300px;
		 display: flex;
		 flex-direction: column;
		 justify-content: space-around;
		 text-align: right;
		 .info_text_content {
			 display: inline-block;
			 max-width: 295px;
			 width: 100%;
			 text-align: right;
		 }
		 .pic_title {
			 text-align: left;
		 }
		 .pic {
			 width: 35px;
			 height: 35px;
			 border-radius: 50%;
			 position: relative;
			 display: inline-block;
			 vertical-align: middle;
			 img {
				 position: absolute;
				 top: 50%;
				 left: 50%;
				 transform: translate(-50%, -50%);
			 }
		 }
			 .title {
				 display: inline-block;
				 vertical-align: middle;
				 padding-left: 9px;
				 font-size: 14px;
				 font-weight: bold;
			 }
		 .text_content {
			 display: inline-block;
			 text-align: left;
			 max-width: 245px;
			 width: 100%;
			 font-size: 12px;
			 line-height: 24px;
		 }
	 }
 }
.mobile_container {
	display: inline-block;
}

                         /*section3*/

.section3 {
	padding-top: 80px;
	padding-bottom: 100px;
	.work {
		text-align: center;
		text-transform: uppercase;
		color: #4c76ff;
		font-size: 28px;
	}
	.work_title {
		max-width: 715px;
		width: 100%;
		margin: auto;
		text-align: center;
		font-size: 14px;
		line-height: 28px;
		margin-bottom: 70px;
		color: #062033;

	}
	.gallery_menu {
		text-align: center;
		margin-bottom: 75px;
		ul li {
			display: inline-block;
		}
		a {
			display: inline-block;
			padding: 10px 20px;
			text-decoration: none;
			color: #062033;
			font-weight: bold;
			transition: .3s;
			color: #062033;
			&:hover {
				color: #fff;
				background: #4c76ff;
				border-radius: 5px;
			}
		}

	}
	.gallery_photo {
		ul {
			display: flex;
		}
		ul li {
			display: inline-block;
			width: 25%;
			list-style: none;
			position: relative;
			overflow: hidden;
			.im {
				width: 100%;
				height: 100%;
				display: block;
			}
		.descr {
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			height: 100%;
			color: #fff;
			text-align: center;
			background: rgba(89, 126, 249, .8);
			opacity: 0;
			transition: .5s;
			.descr_cont {
				display: inline-block;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			.imag {
				display: inline-block;
				width: 30px;
				height: 30px;
				border-radius: 50%;
				position: relative;
				border: 1px solid #fff;
				margin-bottom: 20px;
				img {
					width: 16px;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}

			}
			}
			&:hover .descr {
				opacity: 1;
				top: 0;
			}
		}
	}
}
                         /*section4*/
.section4 {
	padding-bottom: 100px;
	.sec4_title {
		text-align: center;
		text-transform: uppercase;
		color: #4c76ff;
		font-size: 28px;
	}
	.sec4_p {
		max-width: 790px;
		width: 100%;
		margin: auto;
		text-align: center;
		font-size: 14px;
		line-height: 28px;
		margin-bottom: 70px;
		color: #062033;
	}
	.sec4_content {
		max-width: 975px;
		width: 100%;
		margin: auto;

	}
	ul li {


		overflow: hidden;
		.inf_cont {
			text-align: center;
			max-width: 180px;
			width: 100%;
			margin: auto;

		}


		position: relative;
		display: inline-block;
		list-style: none;
		max-width: 225px;
		width: 100%;
		h5 {
			font-size: 12px;
			margin-bottom: 10px;
			margin-top: 20px;
			letter-spacing: 1px;
			line-height: 15px;

		}
		p {
			font-size: 12px;
			line-height: 24px;
			margin-bottom: 10px;
			letter-spacing: 1px;
			margin-bottom: 30px;
		}
		.soc div {
			display: inline-block;
			width: 40px;
			height: 40px;
			border-radius: 3px;
			position: relative;
			background: #3754af;
			img {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
		.inf {
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			height: 100%;
			color: #fff;
			text-align: center;
			background: rgba(89, 126, 249, .8);
			opacity: 0;
			transition: .5s;

		}
		.sec4_pic {
			display: block;
			width: 100%;


		}

		&:hover .inf {
			opacity: 1;
			top: 0;
			//transform: scale(1);
		}

	}
	.man_pic {
		display: flex;
		justify-content: space-between;
	}


}
                          /*section5*/
.section5 {
	background: url('../image/sec5_bg.jpg')no-repeat center;
	padding-top: 60px;
	padding-bottom: 80px;
	.sec5_title {
		text-align: center;
		text-transform: uppercase;
		color: #4c76ff;
		font-size: 28px;

	}
	.heart_container {
		margin-bottom: 30px;
	}
	.sec5_content {
		display: flex;
		justify-content: space-between;
		.content_column {
			display: inline-block;
		}
		max-width: 790px;
		width: 100%;
		margin: auto;
		.sec5_img_number {
			display: inline-block;
			text-align: center;
			.sec5_img {
				width: 96px;
				height: 96px;
				border: 2px solid #6a7580;
				border-radius: 50%;
				position: relative;
				margin-bottom: 30px;
				display: inline-block;
				img {
					top: 50%;
					left: 50%;
					position: absolute;
					transform: translate(-50%, -50%);
					}
			}
		}.sec5_number {
					 text-align: center;
				 .num {
					 font-size: 40px;
					 color: #fff;
					 margin-bottom: 15px;
				 }
		.text {
			font-size: 12px;
			color: #98a0a8;
			text-transform: uppercase;
			}
		}
	}
}
.section6 {
	padding-top: 80px;
	.title_cont {

		text-align: center;
		text-transform: uppercase;
		color: #4c76ff;
		font-size: 28px;
	}
	.sec6_p {
		max-width: 790px;
		width: 100%;
		margin: auto;
		text-align: center;
		font-size: 14px;
		line-height: 28px;
		margin-bottom: 70px;
		color: #062033;
	}
}
.section7 {
	.sec7_container {
		max-width: 970px;
		width: 100%;
		margin: auto;
		.left_container {
			display: inline-block;
			width: 220px;
			.left_top p{
				font-family: 'Lato';
				font-size: 18px;
				font-weight: 400;
				color: #062033;
				margin-bottom: 40px;
			}
			.left_bottom p{
				font-size: 11px;
				line-height: 18px;
				letter-spacing: 1px;
				color: #6a737b;
				width: 130px;
			}
		}
		.right_container {
			display: inline-block;
			max-width: 670px;
			width: 100%;
			.top_form {
				display: flex;
				justify-content: space-between;
				input{
					width: 48%;
					display: inline-block;
					padding-bottom: 10px;
					padding-top: 20px;
					border: none;
					border-bottom: 2px solid #f0f0f0;

				}

			}
			h5 {
				font-size: 20px;
				color: #062033;
				padding-bottom: 16px;
			}
			.btn_container {
				text-align: right;
				width: 100%;
				margin-top: 30px;
			}
			.ta {
				height: 50px;
				width: 100%;
				border: none;
				border-bottom: 2px solid #f0f0f0;

			}
		}
		.btn {
			border: none;
			background: #fff;
			cursor: pointer;
			img {
				display: inline-block;
				vertical-align: middle;
				padding-right: 10px;
			}
			p {
				display: inline-block;
				vertical-align: middle;
				font-size: 13px;
				letter-spacing: 1px;
			}
		}
		.social_sign {
			display: inline-block;
			margin-left: 15px;

			div {
				width: 30px;
				padding: 10px;
			}
		}


	}
}